@import "tailwindcss";

body{
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   background-color: #f5f0f0;
   color: rgba(0,0,0,0.9);
}

.container{
   width: 95%;
   margin: auto;
}

header .top-strip{border-top: 1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1)}

.bg-primary{background: #ff5252;}

.link:hover{
   color: #ff5252;
}

.MuiBadge-badge{
   background-color: #ff5252 !important;
}

nav ul button{ text-transform:capitalize !important;}



